# Bỏ qua thư mục ảo của Python
.venv/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.pt
*.onnx
*.xml
*.jpg
LastDetectionWarning
Videos/


# Bỏ qua file môi trường
.env

# Bỏ qua file log, cache
*.log

